{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-md-8">
        <h1>Supers de llavero</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia esse similique id, qui voluptatum doloribus officiis consequuntur quam reiciendis illum quo dicta nemo? Veniam pariatur tempora delectus facere fugiat.</p>
    </div>
    <div class="col-md-4">
        <img src="assets/img/supers.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer }}